@using Entitron;
@model DBColumn
@{
    ViewBag.Title = "AddColumn";
    List<SelectListItem> types = new List<SelectListItem>();
    foreach (System.Data.SqlDbType type in Enum.GetValues(typeof(System.Data.SqlDbType)))
    {
        types.Add(new SelectListItem() { Text = type.ToString(), Value = ((int)type).ToString() });
    }
}

<h2>Add Column</h2>

@using (Html.BeginForm("AddColumn", "DBManager", new { appName = Request["appName"], tableName = Request["tableName"] }))
{
    <table>
        <tr>
            <th>Name:</th>
            <td>@Html.TextBoxFor(m => m.Name)</td>
        </tr>
        <tr>
            <th>Data Type:</th>
            <td>
                @Html.DropDownListFor(c => c.type, types)
            </td>
        </tr>
        <tr>
            <th>Maximum length: </th>
            <td>@Html.TextBoxFor(m => m.maxLength)</td>
        </tr>
        <tr>
            <th>Precision: </th>
            <td>@Html.TextBoxFor(m => m.precision)</td>
        </tr>
        <tr>
            <th>Scale: </th>
            <td>@Html.TextBoxFor(m => m.scale)</td>
        </tr>
        <tr>
            <th>Maximum length: </th>
            <td>@Html.TextBoxFor(m => m.isUnique)</td>
        </tr>
        <tr>
            <th>Can be null?</th>
            <td>@Html.CheckBoxFor(c => c.canBeNull)</td>
        </tr>
    </table>

    <button class="btn btn-primary" type="submit">Add</button>
    @Html.ActionLink("Back", "Details", new { @appName = Request["appName"], @tableName = Request["tableName"] }, new{@class="btn btn-default"})
}