@model Entitron.DBColumn
@{
    ViewBag.Title = "AlterColumn";

    List<SelectListItem> types = new List<SelectListItem>();
    foreach (System.Data.SqlDbType type in Enum.GetValues(typeof(System.Data.SqlDbType)))
    {
        types.Add(new SelectListItem() { Text = type.ToString()});
    }

}

<h2>AlterColumn</h2>
@using (Html.BeginForm("AlterColumn", "DBManager", new { appName = Request["appName"], tableName = Request["tableName"] }))
{
    <table>
        <tr>
            <th>Name:</th>
            <td>@Html.TextBoxFor(m => m.Name, Model.Name)</td>
        </tr>
        <tr>
            <th>Data Type:</th>
            <td>
                @Html.DropDownListFor(c => c.type, types, Model.type)
            </td>
        </tr>
        <tr>
            <th>Maximum length: </th>
            <td>@Html.TextBoxFor(m => m.maxLength, Model.maxLength)</td>
        </tr>
        <tr>
            <th>Precision: </th>
            <td>@Html.TextBoxFor(m => m.precision, Model.precision)</td>
        </tr>
        <tr>
            <th>Scale: </th>
            <td>@Html.TextBoxFor(m => m.scale, Model.scale)</td>
        </tr>
        <tr>
            <th>Can be null?</th>
            <td>@Html.CheckBoxFor(c => c.canBeNull, Model.canBeNull)</td>
        </tr>
    </table>

    <button class="btn btn-success" type="submit">Alter</button>
    @Html.ActionLink("Back", "Details", new { @appName = Request["appName"], @tableName = Request["tableName"] }, new { @class = "btn btn-default" })
}
