@using System.Collections
@using Entitron
@model DBTable
@{
    ViewBag.Title = "Data";
}

<h2>Data tabulky @Model.tableName</h2>

<table class="table table-bordered table-hover table-responsive table-condensed">
    <thead>
        <tr>
            @foreach (DBColumn c1 in @Model.columns)
            {
                <th>@c1.Name (@c1.type [@c1.maxLength])</th>
            }
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DBItem i in @Model.Select().ToList())
        {
            <tr>
                @using (Html.BeginForm("DeleteRow", "DBManager", new { @appName = Model.AppName, @tableName = Model.tableName }, FormMethod.Post, null))
                {
                    foreach (DBColumn c2 in @Model.columns)
                    {
                        <td id="field">
                            @Html.Hidden("col" + c2.Name, i[c2.Name])
                            <p class="form-control-static"> @i[c2.Name]</p>
                        </td>
                    }
                    <td>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </td>
                }
            </tr>
        }
        <tr>
            @using (Html.BeginForm("InsertRow", "DBManager", new { @appName = Model.AppName, @tableName = Model.tableName }, FormMethod.Post, null))
            {
                foreach (DBColumn c3 in @Model.columns)
                {
                    <td>@Html.TextBox("valueOf" + c3.Name)</td>
                }
                <td>
                    <button type="submit" class="btn-primary btn">Insert</button>
                </td>
            }

        </tr>
    </tbody>
</table>
