@using Entitron
@model DBTable
@{
    ViewBag.Title = "Data";
}

<h2>Data tabulky @Model.tableName</h2>

<table class="table-hover table-responsive table-condensed">
    @*Zatím tabulka ukazuje jen sloupce a jejich nastavení ale později se v ní budou ukazovat hodnoty*@
    <thead>
    <th>Název sloupce</th>
    <th>Typ</th>
    <th>Null</th>
    <th>Primary Key</th>
    <th>Max Lenght</th>
    <th>Unique</th>
    </thead>
    <tbody>
        @foreach (DBColumn c in @Model.columns)
        {
            <tr>
                <td>@c.Name</td>
                <td>@c.type</td>
                <td>@c.canBeNull</td>
                <td>@c.isPrimaryKey</td>
                <td>@c.maxLength</td>
                <td>@c.isUnique</td>
            </tr>

        }

        @foreach (DBItem i in @Model.Select().ToList())
        {
            <tr>
                @foreach (DBColumn co in @Model.columns)
                {
                    <th>@i[co.Name]</th>
                }
            </tr>
        }
    </tbody>
</table>
