@using DynamicDB;
@model DBTable
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h3>Table: @Model.tableName</h3>

<table>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Max Length</th>
        <th>Can be null?</th>
        <th></th>
    </tr>
    @foreach(DBColumn column in Model.columns)
    {
        <tr>
            <td>@column.Name</td>
            <td>@column.type.ToString()</td>
            <td>@column.maxLength.ToString()</td>
            <td>@column.canBeNull.ToString()</td>
            <td>@Html.ActionLink("Drop column", "DropColumn", new { @tableName = Model.tableName, @appName = Request["appName"], @columnName = column.Name })</td>
        </tr>
    }
</table>

@Html.ActionLink("Add column", "AddColumn", new { @tableName = Model.tableName, @appName = Request["appName"] })
<br />
@Html.ActionLink("back", "Index", new { @appName = Request["appName"] })