@using Entitron
@model List<DBTable>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (TempData["message-success"] != null)
{
    <div class="alert alert-success alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        @TempData["message-success"]
    </div>
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Table Name</th>
            <th colspan="10">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DBTable item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.tableName, "Data", new { @appName = item.AppName, @tableName = item.tableName })</td>
                <td>@Html.ActionLink("Manage", "Details", new { @appName = item.AppName, @tableName = item.tableName })</td>
                <td>@Html.ActionLink("DropTable", "DropTable", new { @appName = item.AppName, @tableName = item.tableName })</td>
                <td>@Html.ActionLink("CreateIndex", "CreateIndex", new { @appName = item.AppName, @tableName = item.tableName })</td>
                <td>@Html.ActionLink("DropIndex", "DropIndex", new { @appName = item.AppName, @tableName = item.tableName })</td>
                <td>@Html.ActionLink("AddPrimaryKey", "CreatePrimaryKey", new { @appName = item.AppName, @tableName = item.tableName })</td>
                <td>@Html.ActionLink("DropPrimaryKey", "DropPrimaryKey", new { @appName = item.AppName, @tableName = item.tableName })</td>
                <td>@Html.ActionLink("AddForeignKey", "CreateForeignKey", new { @appName = item.AppName, @tableName = item.tableName })</td>
                <td>@Html.ActionLink("DropForeignKey", "DropForeignKey", new {@appName = item.AppName, @tableName = item.tableName})</td>
                <td>@Html.ActionLink("DisableConstraints", "Constraint", new {@appName = item.AppName, @tableName = item.tableName, @isDisable = true})</td>
                <td>@Html.ActionLink("EnableConstraints", "Constraint", new { @appName = item.AppName, @tableName = item.tableName, @isDisable = false })</td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Create new", "Create", new { @appName = Request["appName"] }, new{@class="btn btn-primary"})
@Html.ActionLink("Back", "Index", "Home", new { @appName = Request["appName"] }, new { @class = "btn btn-default" })


