@using Entitron
@model List<DBTable>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (TempData["message-success"] != null)
{
    <div class="alert alert-success alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        @TempData["message-success"]
    </div>
}
else if (TempData["message-error"] != null)
{
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        @TempData["message-error"]
    </div>
}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Table Name</th>
            <th colspan="14">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DBTable item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.tableName, "Data", new { @appName = item.Application.Name, @tableName = item.tableName })</td>
                <td>@Html.ActionLink("Manage", "Details", new { @appName = item.Application.Name, @tableName = item.tableName })</td>
                <td>@Html.ActionLink("DropTable", "DropTable", new { @appName = item.Application.Name, @tableName = item.tableName })</td>
                <td>@Html.ActionLink("AddIndex", "CreateIndex", new { @appName = item.Application.Name, @tableName = item.tableName })</td>
                <td>@Html.ActionLink("DropIndex", "DropIndex", new { @appName = item.Application.Name, @tableName = item.tableName })</td>
                <td>@Html.ActionLink("AddUnique", "CreateUnique", new { @appName = item.Application.Name, @tableName = item.tableName })</td>
                <td>@Html.ActionLink("DropUnique", "DropUnique", new { @appName = item.Application.Name, @tableName = item.tableName })</td>
                <td>@Html.ActionLink("AddDefault", "CreateDefault", new { @appName = item.Application.Name, @tableName = item.tableName })</td>
                <td>@Html.ActionLink("DropDefault", "DropDefault", new { @appName = item.Application.Name, @tableName = item.tableName })</td>
                <td>@Html.ActionLink("AddPrimaryKey", "CreatePrimaryKey", new { @appName = item.Application.Name, @tableName = item.tableName })</td>
                <td>@using (Html.BeginForm("DropConstraint", "DBManager", new {@appName = item.Application.Name, @tableName = item.tableName, @isPrimaryKey = true}, FormMethod.Post, null))
                    {
                        <button type="submit">DropPrimaryKey</button>
                    }</td>
                <td>@Html.ActionLink("AddForeignKey", "CreateForeignKey", new { @appName = item.Application.Name, @tableName = item.tableName })</td>
                <td>@Html.ActionLink("DropForeignKey", "DropForeignKey", new { @appName = item.Application.Name, @tableName = item.tableName })</td>
                <td>@Html.ActionLink("DisableConstraints", "Constraint", new { @appName = item.Application.Name, @tableName = item.tableName, @isDisable = true })</td>
                <td>@Html.ActionLink("EnableConstraints", "Constraint", new { @appName = item.Application.Name, @tableName = item.tableName, @isDisable = false })</td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Create new", "Create", new { @appName = Request["appName"] }, new{@class="btn btn-primary"})
@Html.ActionLink("Back", "Index", "Home", new { @appName = Request["appName"] }, new { @class = "btn btn-default" })


