@using Entitron
@model Entitron.DBTable
@{
    ViewBag.Title = "UpdateView";
    List<string> values=new List<string>();
    int i = 0;
}

<h2>UpdateView</h2>
@using (Html.BeginForm("UpdateRow", "DBManager", new { @appName = Model.AppName, @tableName = Model.tableName, @selectRow= ViewBag.Row }, FormMethod.Post, null))
{
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                @foreach (DBColumn c1 in @Model.columns)
                {
                    <th>@c1.Name (@c1.type [@c1.maxLength])</th>
                }
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            @foreach (string s in ViewBag.Row)
            {
                values.Add(s);
            }
            @foreach (DBColumn c2 in @Model.columns)
            {
                <td>
                    @Html.TextBox("col" + c2.Name, values[i])
                    @{i = i + 1;}
                </td>
                
            }
            <td>
                <button type="submit" class="btn-success btn">Confirm</button>
            </td>
        </tr>
        </tbody>
    </table>
}